@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext');

*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	transition: 1s all ease;
}

body{
	font-size: 36px;
	background-color: lightgrey;
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/intersection.png");
	&>#box{
		background-color: lightgrey;
		box-shadow: 0 0 20px -5px black;
		position: relative;
		width: 1000px;
		height: 700px;
		margin: 50px auto;
		&>header{
			display: block;
			width: 100%;
			height: 50px;
			&>h1{
				display: block;
				height: 100%;
				float: left;
				font-size: 34px;
				padding: 4px 15px;
				letter-spacing: 5px;
			}//>h1
		}//>header
		&>article{
			display: inline-block;
			position: relative;
			&#function-parametrs{
				width: 200px;
				height: 500px;
				position: relative;
				z-index: 15;
				&>section{
					display: block;
					margin-top: 5px;
					&#function-write{
						text-align: center;
					}
					&#function-var{
						div{
							height: 50px;
							width: 200px;
							margin-top: 5px;
							label{
								display: inline-block;
								border-right: 1px solid black;
								height: 50px;
								width: 50px;
								text-align: center;
							}//label
							input{
								background-color: inherit;
								display: inline-block;
								position: fixed;
								height: 50px;
								width: 150px;
								font-size: 26px;
								padding: 5px;
							}//input
						}//div
					}//#function-var
					&#function-oblicz{
						width: 100%;
						input{
							width: 100%;
							height: 40px;
							cursor: pointer;
							font-weight: 900;
							font-size: 25px;
							letter-spacing: 5px;
							background-color: rgb(51, 102, 204);
							&:hover{
								background-color: rgb(21, 82, 184);
								letter-spacing: 8px;
							}
						}
					}
				}//>section
			}//#function-parametrs
			&#function-draw{
				position: absolute;
				top: 50px;
				right: 0px;
				width: 800px;
				height: 500px;
				z-index: 8;
			}
			&#functio-range{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 150px;
				z-index: 10;
				table{
					width: 100%;
					height: 100%;
					column-span: none;
					tr{
						th,td{
							padding: 5px;
						}
						td{
							border: 1px solid black;
						}
					}
				}
			}//#functio-range
		}//>article
	}//>#box
}//body

#function-write-a,
label[for="function-var-a"]{
	color: darkmagenta;
}

#function-write-b,
label[for="function-var-b"]{
	color: darkred;
}

#function-write-c,
label[for="function-var-c"]{
	color: darkgoldenrod;
}