@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=latin-ext');

$nav_w: 200px;
$padding: 10px;

*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	transition: 300ms ease all;
}

#box{
	z-index: 15;
	width: 900px;
	margin:{
		//top: 50px;
		left: auto;
		right: auto;
	}
	&.br{
		filter: blur(2px);
	}
	&>header{
		float: left;
		width: 100%;
		height: 100px;
		border: 1px solid black;
		&>img{
			height: 100%;
		}
	}
	&>nav{
		float: left;
		height: 600px;
		width: $nav_w;
		border-left: 1px solid black;
		ul{
			list-style-type: none;
			li{
				a{
					padding: {
						top: $padding/2;
						bottom: $padding/2;
						left: $padding;
						right: $padding;
					}
					display: inline-block;
					color: #000000;
					text-decoration: none;
					width: 100%;
					&:hover{
						background-color: rgba(0,0,0,.2);
					}
				}
			}
			
		}
	}
	&>main{
		float: left;
		height: 600px;
		width: calc(100% - #{$nav_w});
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	&>footer{
		float: left;
		height: 50px;
		width: 100%;
		border: 1px solid black;
		text-align: center;
		font-size: 1.5em;
		padding-top: 10px;
	}
}

#alert{
	z-index: 100;
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 0%;
	width: 0%;
	background-color: rgba(0,0,0,.2);
	&.showed{
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	overflow: hidden;
	//position: relative;
	&>form>article{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		min-width: 180px;
		background-color: grey;
		box-shadow: 0 0 20px -4px black;
		&>header{
			width: 100%;
			height: 50px;
			font-weight: 900;
			font-size: 26px;
			background-color: rgba(0,0,0,.2);
			padding: $padding;
		}
		&>section{
			margin: 0 auto;
			padding: $padding;
			&>div{
				&>input{
					width: 100%;
					height: 30px;
				}
				margin-bottom: $padding;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&>footer{
			width: 100%;
			height: 40px;
			background-color: rgba(0,0,0,.2);
			padding:{
				top: $padding/2;
				bottom: $padding/2;
				right: $padding;
				left: $padding;
			}
			input{
				display: inline-block;
				height: 100%;
				float: right;
				padding:{
					left: $padding;
					right: $padding;
				}
				margin-left: $padding;
				min-width: 75px;
				cursor: pointer;
				font-weight: 700;
				background-color: rgba(255,255,255,.2);
				&:hover{
					box-shadow: 0 0 20px -4px black;
				}
				&:last-child{
					margin-left: 0;
				}
			}
		}
	}
}